/*
CSS RESET
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {

    font-family: 'Roboto', sans-serif;
}

/*
Registration and login
*/

.wrap-reglogin {
    padding: 40px;
    width: 18%;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrap-reglogin h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.wrap-reglogin input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.wrap-reglogin input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wrap-reglogin input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.login-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.wrap-reglogin a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.wrap-reglogin a:hover {
    opacity: 1;
}

.wrap-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

/*
Messages
*/

header {
    margin: 0 auto;
    width: 50%;
    background: #4d90fe;
    color: #fff;
    text-align: center;
}

header h1 {
    display: inline-block;
    clear: both;
}

.lout {
    width: 50%;
    margin: 0 auto;
}

#logout {
    display: inline-block;
    float: right;
}

#logout input[type="submit"] {
    border: 1px solid #000;
    background: #fff;
    font-size: 15px;
}

.wrap-msg {
    clear: both;
    width: 50%;
    height: 650px;
    background-color: #F7F7F7;
    margin: 0 auto 1px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.msg {
    list-style: none;
    padding: 8px;
    border-bottom: 1px dotted #ccc;
}

.msg span {
    color: #aaa;
}

#input {
    width: 50%;
    min-height: 80px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: #4d90fe;
    opacity: 1;

}

#input input[type='text'] {
    height: 25px;
    width: 80%;
    padding: 3px;
    margin-top: 20px;
}